* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  background-color: #111;
  overflow: hidden;
}

.salute {
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.salute-text-container {
  flex: 3;
}

.salute-img-container {
  flex: 1;
}

.salute-text {
  color: #333;
  font-size: 60vw;
  cursor: default;
}

.salute-img {
  width: 100%;
}

.name-container {
  height: 100vh;
  background-color: rebeccapurple;
}

.name {
  font-size: 14vw;
  color: #333;
  cursor: default;
  text-align: center;
  line-height: 100vh;
}

.job-container {
  height: 100vh;
}

.dark-bg {
  background: url("./img/bg1.png");
}

.purple-bg {
  background: rebeccapurple url("./img/bg2.png");
}

.job {
  font-size: 10vw;
  color: #333;
  cursor: default;
  line-height: 100vh;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 30vh;
  padding: 0px 100px;
  background-color: #fff;
}

.projects .projects-title {
  font-size: 10vw;
  color: #333;
}

.project {
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  padding: 1rem 0;
}

.project:nth-child(2n) {
  flex-direction: row-reverse;
}

.phone {
  flex: 1;
  width: 300px;
  height: 600px;
  position: relative;
  z-index: 10;
}

.screen {
  width: 264px;
  height: 567px;
  position: absolute;
  top: 17px;
  left: 18px;
  border-radius: 28px;
  overflow: scroll;
}

.screen::-webkit-scrollbar {
  display: none;
}

.phone-app {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  flex-shrink: 0;
}

.detail .title {
  font-size: 7vw;
  color: #555;
}

.detail .description {
  font-size: 20px;
  color: #555;
  text-align: justify;
  line-height: 40px;
}

.detailBtn {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #555;
  color: #555;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.detailBtn::after {
  content: "View Demo";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 1s all;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #555;
  color: #222;
}

.detailBtn:hover.detailBtn::after {
  transform: translateX(100%);
}

.laptop {
  width: 600px;
  height: 379px;
  flex: 1;
  position: relative;
  z-index: 10;
}

.laptop .screen {
  width: 451px;
  height: 283px;
  position: absolute;
  top: 18px;
  left: 68px;
  overflow: scroll;
  border-radius: 0;
}

.laptop-app {
  width: 100%;
  background-color: cyan;
}

.github {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.github-title {
  font-size: 100px;
  color: #333;
  padding: 0 2rem;
}

.github-chart {
  width: 820px;
  text-align: center;
}

.dates {
  padding: 10px;
  color: #555;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.box {
  width: 15px;
  height: 15px;
  background-color: #171c25;
  border-radius: 2px;
  cursor: pointer;
  transition: 3s all ease;
}

.active:nth-child(4n) {
  background-color: #195b2c;
}

.github-chart:hover .active:nth-child(2n + 1) {
  background-color: #195b2c;
}
.github-chart:hover .active:nth-child(2n) {
  background-color: #063f24;
}

.github-sm {
  display: none;
}

@media screen and (max-width: 1024px) {
  .projects {
    padding: 0 30px;
    text-align: center;
  }
  .project {
    flex-direction: column;
    height: max-content;
  }
  .project:nth-child(2n) {
    flex-direction: column;
  }
  .phone,
  .laptop {
    transform: scale(0.5) !important;
  }

  .detail {
    gap: 20px;
  }

  .github-chart {
    display: none;
  }

  .github-title {
    text-align: center;
    font-size: 10vw;
  }

  .github-sm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #555;
    font-size: 30px;
    text-align: center;
  }
}
